<!-- Navbar Component -->
<nav style="z-index: 1;" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" style="color: #fed000; font-family: 'Lobster',cursive; font-size: 30px;"
        href="/">MusicBuzz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <form id="navbarSearch" action="/search" method="POST" class="form-inline my-2 my-lg-0">
            <input id="searchBar" class="form-control mr-sm-2" type="search" name="searchQuery" placeholder="Search for song or artist" aria-label="Search">
            <button style="margin-left: 15px;" class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <ul class="navbar-nav ml-auto">
            <% if (user===null) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <button class="btn btn-md btn-danger" style="font-size: 20px;">Login with 
                            <i class="fab fa-google-plus-square"></i>
                        </button>
                    </a>
                </li>
            <% } else { %>

                <li class="nav-item dropdown dropleft">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="<%= user.profilePhoto %>" alt="Profile photo" style="height: 50px; width: auto; border-radius: 50%;">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        
                        <h6 class="dropdown-header"><i class="fas fa-user" style="margin-right: 10px;"></i> <%= user.firstName %></h6>

                        <div class="dropdown-divider"></div>
                        
                        <a class="dropdown-item" href="/playlists"><i class="fas fa-heart" style="margin-right: 10px; color: red;"></i> Favourites</a>
                        <a class="dropdown-item" href="/<%= user._id %>/logout"><i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i> Logout</a>
                    </div>
                  </li>

            <% } %> 
        </ul>
    </div>
</nav>
