body{

    margin: 0;
    padding: 0;

    font-family: 'PT Sans',sans-serif;

}

*{

    box-sizing: border-box;

}

.bg-holder{

    position: relative;
    z-index: 1;

}

.bg{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("/samples/home_background.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* background-attachment: fixed; */
    height: 100vh;

}

.song-detail{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;

}

.buttons{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 0 10px 50px;
    border-radius: 10px;

}

.button{

    display: inline;
    padding-right: 50px;
    color: white;
    cursor: pointer;

}

.progress{

    position: relative;
    width: 100%;
    border-radius: 20px;
    height: 120px;
    margin: 70px auto;
    background-color: #333333;
    padding: 5px 0;

}

.indicator{

    position: relative;
    height: fit-content;
    width: 95%;
    margin: 10px auto;

}

#timeElapsed{

    position: absolute;
    color: white;
    bottom: 2px;
    left: 10px;
}

#timeLeft{

    position: absolute;
    color: white;
    bottom: 2px;
    right: 10px;

}

#completed{

    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background: white;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10;
    cursor: pointer;

}


#slider{

    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: black;
    height: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

}


#slider::-webkit-slider-thumb {

    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: white;
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */

}

#slider::-moz-range-thumb {

    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: royalblue;
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */

}
